body{
  font-family:sans-serif;
}
#calculator{
  background-color: black;
  height: 525px;
  width: 30%;
  border-radius: 40px;
}
#myBtns{
  /* border: 1px solid white; */
  width: 76%;
  float: left;
  margin-left: 11%;
}
.inputFrame{
  background-color: black;
  border: 1px solid black;
  border-radius: 40px;
}
.input{
  background-color: white;
  border: 1px solid black;
  align-items: center;
  margin: 13%;
  padding: 20px;
}
.btn{
  text-decoration: none;
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 66px;
  font-size: 43px;
  font-weight: bold;
  color: black;
  line-height: 54px;
  text-align: center;
  background-color: white;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  padding: 5px;
}
